<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.select.dao.SelectDao">
	<update id="updateSelectRound" parameterType="object">
		update select_round
		<set>
			<if test="round1 !=null">ROUND1 = #{round1},</if>
			<if test="round2 !=null">ROUND2 = #{round2},</if>
			<if test="round3 !=null">ROUND3 = #{round3},</if>
			<if test="round4 !=null">ROUND4 = #{round4}</if>
		</set>
		where S_ID = #{sid}
	</update>

	<select id="getSelectStudentsByTId" parameterType="object"
		resultType="map">
		select se.S_ID, st.S_NAME
		from select_round se, student st
		<where>
			<if test="round1 !=null">ROUND1 = #{round1}</if>
			<if test="round2 !=null">ROUND2 = #{round2}</if>
			<if test="round3 !=null">ROUND3 = #{round3}</if>
			<if test="round4 !=null">ROUND4 = #{round4}</if>
			and se.S_ID = st.S_ID
		</where>
	</select>

	<select id="getSelectRoundBySId" parameterType="object"
		resultType="map">
		select * from select_round where S_ID = #{sid}
	</select>

	<insert id="insertSelectRound" parameterType="object">
	    insert into select_round
		<if test="round1 !=null">(S_ID,ROUND1) values (#{sid}, #{round1})</if>
		<if test="round2 !=null">(S_ID,ROUND2) values (#{sid}, #{round2})</if>
		<if test="round3 !=null">(S_ID,ROUND3) values (#{sid}, #{round3})</if>
		<if test="round4 !=null">(S_ID,ROUND4) values (#{sid}, #{round4})</if>
	</insert>
	
	<insert id="insertSelectResult" parameterType="object">
	    insert into select_result (T_ID,RESULT) values(#{tid}, #{result})
	</insert>
	
	<select id="getSelectResultByTId" parameterType="object" resultType="map">
	    select * from select_result where T_ID = #{tid}
	</select>
	
	<update id="updateSelectResult" parameterType="object">
	    update select_result set RESULT = #{result} where T_ID = #{tid}
	</update>
	
	<select id="getAllSelectResult" parameterType="object" resultType="map">
	    select * from select_result
	</select>
</mapper>